.left{
	float:left ;
	width: 50%;
	
}
.left .header{
	margin-bottom: 60px;
}
.left .form_content{
	width: 97%;
}
h3{
	padding-bottom: 10px;
}
.left .form-control{
	margin-bottom: 10px;
}
.left .form_content .email{
	float: left;
	width: 70%;
}
.left .form_content .mobile{
	float: left;
	width: 30%;
}
.left .form_content .province,.left .form_content .county,.left .form_content .ward{
	float: left;
	width: 32%;
	margin-bottom: 50px;
}
.left .form_content .province,.left .form_content .county{
	margin-right: 11px;

}
span{
	font-size: 20px;
	margin: 10px;
}
.left .form_content .radio{
	margin-left: 40px;
}
.right{
	float: left;
	width: 50%;
	background-color: #fafafa;
}