.info_img{
	float: left;
	width: 60%;
}
.info_img img{
	width: 600px;
	height: 600px;
	margin-left: 120px;
}
.information{
	float: left;
	margin-top: 100px;
}
.buy{
	float: left;
	width: 40%;
	background: red;
	color: white;
}