.product_nav{

	margin-top: 10px;
	
}
.product_nav .container{
	height: 100%;
	
}

.product_nav .product{
	float: left;
	margin-left: 10px;
}
.product_nav .product img{
	width: 215px;
	height: 250px;
}

.product_nav .product p{
	width: 100%;
	text-align: center;
	color: #a3a3a3;
}
.product_nav .product a{
	text-decoration: none;
}
.product_nav .product b{
	margin-left: 80px;
}


